#products {
    padding: 50px 0;
}

.card {
    position: relative;
}

.sale {
    position: absolute;
    font-size: 14px;
    padding: 5px 15px;
    background-color: black;
    color: white;
    top: 3px;
    right: 3px;
    border-radius: 15px;
}
footer{
    padding: 40px 0;
    background-color: rgb(44,44,44);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}