* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    padding: 20px 300px;
    position: relative;
    align-items: center;
}

.navbar-list {
    display: flex;
    gap: 10px;
    list-style-type: none;
    font-size: 17px;
    color: gray;
    margin-left: 60px;
    transition: all 0.3s ease;
    align-items: center;
}
.navbar-list li {
    transition: all 0.3s ease;
}
.navbar-list li:hover {
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nav-cart {
    display: flex;
    border: 1px solid black;
    margin-left: 700px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.4s ease;
}
.circle {
    margin-left: 10px;
    background-color: black;
    color: white;
    padding: 1px 7px;
    border-radius: 40%;
}

.nav-cart:hover {
    color: white;
    background-color: black;
    transition: all 0.4s ease;
}
.new-box {
    position: absolute;
    background-color: white;
    border: 0.7px solid gray;
    border-radius: 5px;
    left: 32%;
    bottom: -150%;
}
.disp-none {
    display: none;
}
.disp-block {
    display: block;
}
.new-box-1 {
    border-bottom: 0.7px solid rgb(128, 128, 128);
    height: 33%;
    width: 100%;
    padding: 10px 0px 10px 0px;
}
.new-box-1 p {
    padding: 0px 50px 0px 15px;
}
.new-box-2 {
    padding: 10px 0px;
}
.new-box-2 p {
    margin-bottom: 10px;
    padding: 5px 15px;
}
.new-box p:hover {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}
#web-top {
    background-color: rgb(44, 44, 44);
    color: white;
    text-align: center;
    align-items: center;
    padding: 100px;
    margin-bottom: 150px;
}
#web-top h1 {
    font-size: 60px;
    margin-bottom: 10px;
}